*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/features/core/build/
/features/core/build/intermediates/javac/debug/classes/
/features/musicplayer/build/
/features/musicplayer/build/intermediates/javac/debug/classes/
/libraries/data/build/
/libraries/data/build/intermediates/javac/debug/classes/
/libraries/entity/build/
/libraries/entity/build/intermediates/javac/debug/classes/


.idea
build
google-services.json
*.keystore
keystore.properties
*build.properties
*google-services.json
